
  <div class="main__container">
    <div class="main-card">
  
      <main class="main-content">
        <span class="main-header">Reset Password</span>
  
        <p class="text-center">Please enter your email address to request a password reset.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>


      <div class="link-wrapper">
        <a class="link" routerLink="/sign-in">Login</a>
      </div>
      
      </main>
  
      <aside class="aside-forgot">
        <div class="aside-overlay"></div>
        <h1 class="aside-text">Forgot password? Don't Panic</h1>
        <hr class="aside-hr">
      </aside>
    </div>
  </div>